body{
    margin: 0;
    padding: 0;
    
}

#navigator{
    display: flex;
    background-color: #FFFBF5;
    margin-left: 240px;
    margin-top: 30px;
    font-size: 18px;
    align-items: center;
    z-index: 3;
    position: sticky;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.nav a{
    text-decoration:none;
    color: gray;
    font-size: small;
    display:row nowrap;
    padding: 13px;
    text-size-adjust:auto;
}

.Logo{
    margin-left:20px; 
}
.CAR img{
    margin-left: 715px;
    height: 500px;
    width: 530px;
    position: relative;
    z-index: 2;
    
}


.rectangle{
    position: absolute; 
    top:0;
    margin-left: 830px;
    height: 641px;
    width: 274px;
    background-color: #C51605;
    float: right;
    z-index: 1;
}

#jungle img{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
}

.text1{
    position: absolute;
    top: 240px;
    left: 150px;
    color: white;
    z-index: 3;
    margin-top: 10px;

}

.will{
    font-size: 20px;
    margin: 10px;
    margin-bottom: 0;
}
.Slogan{
    font-size: 50px;
    margin: 0;
}

.content{
    margin: 0;
    margin-top: 25px;
}

.display{
    margin: 0;
}

#Started{
    position: absolute;
    size-adjust: 90%;
    left: 155px;
    top: 450px ;
    color: white;
    font-weight: bold;
    background-color: red;
    border: none;
    padding:8px;
    padding-left: 38px;
    padding-right: 38px;
    height: 47px;
    border-radius: 7px;
    z-index: 3;
}

.bgcolor{
    background-color: gray;
    width: 1348px;
    height: 640px;
    opacity: 10%;
    top: 0;
    position: absolute;
    z-index: 0;
}

.general{
    position: absolute;
    top: 778px;
    left: 780px;
    color: grey;

}

.wel{
    color: red;
    margin: 2px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.company{

    font-weight: bolder;
    color: black;
    margin: 0;
}

.post{
    margin-top: 30px;
    width: 500px;

}

.rectangle-{
    position: absolute; 
    top: 641px;
    left: 169px;
    height: 598px;
    width: 278px;
    background-color: #C51605;
    float: right;
    z-index: 0;
}

.car- img{
    position: absolute;
    height: 350px;
    top: 829px;
    left: 0;
}

#bgthird{
    background-color: #272829;
    width: 1348px;
    height: 641px;
    top: 1239px;
    position: absolute;
    
}

.rectangle--{
    position: absolute; 
    top: 1316px;
    left: 0;
    height: 250px;
    width: 1348px;
    background-color: #C51605;
    float: right;
    z-index: 0;
}

.box-car-{
    top: 1505px;
    background-color: white;
    width: 270px;
    height: 290px;
    border-radius: 8px;
    position: absolute;
    left: 98px;
}

.box-car--{
    top: 1505px;
    background-color: white;
    width: 270px;
    height: 290px;
    border-radius: 8px;
    position: absolute;
    left: 394px;
}

.box-car---{
    top: 1505px;
    background-color: white;
    width: 270px;
    height: 290px;
    border-radius: 8px;
    position: absolute;
    left: 690px;
}

.box-car----{
    top: 1505px;
    background-color: white;
    width: 270px;
    height: 290px;
    border-radius: 8px;
    position: absolute;
    left: 987px;
}

.text-{
    position: absolute  ;
    top: 1335px;
    left: 369px;
    text-align: center;
    color: white;
}

.red-{
    background-color: #C51605;
    width: 65px;
    height: 115px;
    top: 1505px;
    left: 135px;
    position: absolute;
}

.red--{
    background-color: #C51605;
    width: 65px;
    height: 115px;
    top: 1505px;
    left: 435px;
    position: absolute;
}

.red---{
    background-color: #C51605;
    width: 65px;
    height: 115px;
    top: 1505px;
    left: 730px;
    position: absolute;
}

.red----{
    background-color: #C51605;
    width: 65px;
    height: 115px;
    top: 1505px;
    left: 1025px;
    position: absolute;
}

.click-{
    position: absolute;
    size-adjust: 90%;
    left: 130px;
    top: 1733px ;
    color: white;
    font-weight: bold;
    background-color: #C51605;
    border: none;
    padding:8px;
    padding-left: 38px;
    padding-right: 38px;
    height: 47px;
    border-radius: 7px;
    z-index: 3;
}
.click--{
    position: absolute;
    size-adjust: 90%;
    left: 426px;
    top: 1733px ;
    color: white;
    font-weight: bold;
    background-color: #C51605;
    border: none;
    padding:8px;
    padding-left: 38px;
    padding-right: 38px;
    height: 47px;
    border-radius: 7px;
    z-index: 3;
}

.click---{
    position: absolute;
    size-adjust: 90%;
    left: 720px;
    top: 1733px ;
    color: white;
    font-weight: bold;
    background-color: #C51605;
    border: none;
    padding:8px;
    padding-left: 38px;
    padding-right: 38px;
    height: 47px;
    border-radius: 7px;
    z-index: 3;
}

.click----{
    position: absolute;
    size-adjust: 80%;
    left: 1020px;
    top: 1733px ;
    color: white;
    font-weight: bold;
    background-color: #C51605;
    border: none;
    padding:8px;
    padding-left: 38px;
    padding-right: 38px;
    height: 47px;
    border-radius: 7px;
    z-index: 3;
}

.bus img{
    position: absolute;
    top: 1546px;
    left: 130px;
    width: 150px;
}

.bus-- img{
    position: absolute;
    top: 1546px;
    left: 437px;
    width: 150px;
}

.bus--- img{
    position: absolute;
    top: 1546px;
    left: 729px;
    width: 150px;
}

.bus---- img{
    position: absolute;
    top: 1546px;
    left: 1025px;
    width: 150px;
}

.Shuttle{
    position: absolute;
    top: 1615px;
    left: 136px;
    font-size: 25px;
}

.City{
    position: absolute;
    top: 1615px;
    left: 437px;
    font-size: 25px;
}

.Charter{
    position: absolute;
    top: 1615px;
    left: 729px;
    font-size: 25px;
}

.More{
    position: absolute;
    top: 1615px;
    left: 1025px;
    font-size: 25px;
}

.shuttle-{
    position: absolute;
    top: 1656px;
    left: 136px;
    width: 160px;
    color: rgb(97, 95, 95)
}

.city--{
    position: absolute;
    top: 1656px;
    left: 437px;
    width: 160px;
    color: rgb(97, 95, 95)
}

.charter---{
    position: absolute;
    top: 1656px;
    left: 729px;
    width: 160px;
    color: rgb(97, 95, 95)
}

.more----{
    position: absolute;
    top: 1656px;
    left: 1025px;
    width: 160px;
    color: rgb(97, 95, 95)
}
.rectangle---{
    position: absolute; 
    top: 1880px;
    left: 890px;
    height: 490px;
    width: 278px;
    background-color: #C51605;
    float: right;
    z-index: 0;
}

.jeep img{
    position: absolute;
    top: 1980px;
    left: 650px;
    width: 650px;
}

.textfour{
    top: 2000px;
    color: black;
    position: absolute;
    left: 130px;
}

.committed{
    font-size: 20px;
    margin: 0;
    color: #C51605;
}
.statement{
    font-size: 50px;
    margin: 0;  
}

.excited{
    margin-top: 40px;
    color: gray;
    width: 450px;
}

.about-{
    position: absolute;
    size-adjust: 90%;
    left: 130px;
    top: 2250px ;
    color: white;
    font-weight: bold;
    background-color: #C51605;
    border: none;
    padding:8px;
    padding-left: 38px;
    padding-right: 38px;
    height: 47px;
    border-radius: 7px;
    z-index: 3;
}
.bgfifth{
    background-color: #272829;
    width: 1348px;
    height: 641px;
    top: 2370px;
    position: absolute;
}

.rectanglefifth{
    position: absolute; 
    top: 2500px;
    left: 0;
    height: 250px;
    width: 1348px;
    background-color: #C51605;
    float: right;
    z-index: 0;
}

.ferrari img{
    position: absolute;
    top: 2385px;
    width: 600px;
    left: 363px;

}

div .quote{
    position: absolute;
    top:2510px;
    width: 160px;
    color: white;
    left: 100px;

}

div .are{
    position: absolute;
    color: white;
    width: 190px;
    top: 2605px;
    left: 100px;
}

div .here{
    position: absolute;
    size-adjust: 90%;
    left: 100px;
    top: 2669px ;
    color: black;
    font-weight: bolder;
    background-color: #ffff;
    border: none;
    padding:8px;
    padding-left: 38px;
    padding-right: 38px;
    height: 47px;
    border-radius: 7px;
    z-index: 3;
}

div .reservation{
    position: absolute;
    top:2510px;
    width: 160px;
    color: white;
    left: 1084px;
    text-align: end;
}

div .are-{
    position: absolute;
    color: white;
    width: 190px;
    top: 2605px;
    left: 1073px;
    text-align: center;
}

div .here-{
    position: absolute;
    size-adjust: 90%;
    left: 1105px;
    top: 2669px ;
    color: black;
    font-weight: bolder;
    background-color: #ffff;
    border: none;
    padding:8px;
    padding-left: 38px;
    padding-right: 38px;
    height: 47px;
    border-radius: 7px;
    z-index: 3;
}

div .maps img{
    position: absolute;
    top: 3011px;
    height: 300px;
    width: 100%;
}

div .message{
    position: absolute;
    background-color: #ffff;
    width: 960px;
    height: 200px;
    top: 2900px;
    left: 194px;
}

#box{ 
    position: absolute;
    top: 2915px;
    left: 220px;

}

div .reach{
    color: rgb(196, 3, 3);
}

div .Send{
    color: rgb(69, 69, 69);
}

div .glad{
    color: rgba(88, 88, 88, 0.87);
}

#box1{
    position: absolute;
    top: 2960px;
    left: 600px;
    size-adjust: 100px;
    

}

.sub{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(252, 251, 251);
    background-color: rgb(194, 4, 4);
    border-style: hidden;
    border-radius: 5px;
}

#mess{
    margin-top: 49x;
    padding-right: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

#fullname{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-right: 90px;
}

#email{

    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-right: 90px;
}

div .bglast{
    background-color: #272829;
    width: 1348px;
    height: 485px;
    top: 3311px;
    position: absolute;
}

div .callicon{
    color: white;
    top: 3460px;
    font-size: 25px;
    position: absolute;
    left: 540px;
}

div .det{
    color: #ffff;
    position: absolute;
    top: 3420px;
    left: 100px;    
}

div .Touch{
    font-size: 30px;
    margin: 0px;
    font-size: 26px;
}

div .Details{
    margin: 0px;
    font-size: 45px;
}

.dummy-{
    position: absolute;
    top: 3500px;
    left: 104px;
    color: #ffff;
    width: 290px;
}

div .phone{
    position: absolute;
    top: 3480px;
    left: 540px;
    color: #ffff;
    width: 300px;
}

.more{
    color: white;
    border: none;
    background-color: #C51605;
    position: absolute;
    top: 3467px;
    left: 1015px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 7px;
}

.Copyright{
    left: 990px;
    color: white;
    position: absolute;
    top: 3512px;
    font-size: small;
}


#navigator-{
    display:flex;
    background-color: #FFFBF5;
    margin-left: 0;
    top: 3620px;
    font-size: 18px;
    align-items: center;
    z-index: 3;
    position: absolute;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.nav-{
    margin-left: 100px;    
}
.nav- a{
    text-decoration:none;
    color: gray;
    font-size: small;
    display:row nowrap;
    padding: 13px;
    text-size-adjust:auto;
    margin-left: 5px;
}

.Logo- img{
    margin-left: 200px
}

@media screen and (max-width: 600px){
    #navigator{
        display: flex;
        background-color: #FFFBF5;
        margin-left: 240px;
        margin-top: 30px;
        align-items: center;
        z-index: 3;
        position: sticky;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }
    .nav a{
        text-decoration:none;
        color: gray;
        font-size: small;
        display:row nowrap;
        padding: 13px;

    }
    
    .Logo{
        margin-left:20px; 
    }
    .CAR img{
        margin-left: 715px;
        width: 530px;
        position: relative;
        z-index: 2;
        
    }


    .rectangle{
        position: absolute; 
        top:0;
        margin-left: 830px;
        height: 641px;
        width: 274px;
        background-color: #C51605;
        float: right;
        z-index: 1;
    }
    #jungle img{
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
}